.list {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskContainer {
  background-color: aliceblue;
  width: 408px;
  height: 31px;
  margin-right: 3px;
  cursor: pointer;
}

.task-container.done {
  text-decoration: line-through;
  color: grey;
}

.buttons {
  display: flex;
  align-items: center;
}
