.IconButton {
  background-color: var(--color);
  height: 32px;
  width: 34px;
  color: whitesmoke;
  border: 2px solid;
  border-radius: 3px;
  border-color: var(--border-color);
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: DeepSkyBlue;
  }

  & svg {
    height: 100%;
    width: 100%;
  }
}
